## Imports

In [158]:
import pandas as pd
import numpy as np
import matplotlib as mpl

In [159]:
df = pd.read_csv('tier1_tournament.csv')

### Preview

In [160]:
df.head()

,Unnamed: 0,Tournament_Name,Date,Total_Prize,Num_Participants,Location,First_Place,Second_Place
0,0,The International 2021,"Oct 07 - 17, 2021","$40,018,195",18 teams,"Bucharest, Romania",TSpirit,PSG.LGD
1,1,OGA Dota PIT Invitational,"Sep 06 - 10, 2021","$275,000",8 teams,Europe,PSG.LGD,TSpirit
2,2,ESL One Fall 2021,"Aug 21 - 29, 2021","$400,000",12 teams,Europe & CIS,Tundra,PSG.LGD
3,3,ESL One Summer 2021,"Jun 16 - 20, 2021","$400,000",12 teams,Europe,T1,VP
4,4,WePlay AniMajor,"Jun 02 - 13, 2021","$500,000",18 teams,"Kyiv, Ukraine",PSG.LGD,EG

### Cleaning

In [161]:
#Dropping Index from Excel
df1 = df.drop(['Unnamed: 0'], 1)
df1.head()

C:\Users\pittm\AppData\Local\Temp/ipykernel_9068/2641531135.py:2: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  df1 = df.drop(['Unnamed: 0'], 1)

,Tournament_Name,Date,Total_Prize,Num_Participants,Location,First_Place,Second_Place
0,The International 2021,"Oct 07 - 17, 2021","$40,018,195",18 teams,"Bucharest, Romania",TSpirit,PSG.LGD
1,OGA Dota PIT Invitational,"Sep 06 - 10, 2021","$275,000",8 teams,Europe,PSG.LGD,TSpirit
2,ESL One Fall 2021,"Aug 21 - 29, 2021","$400,000",12 teams,Europe & CIS,Tundra,PSG.LGD
3,ESL One Summer 2021,"Jun 16 - 20, 2021","$400,000",12 teams,Europe,T1,VP
4,WePlay AniMajor,"Jun 02 - 13, 2021","$500,000",18 teams,"Kyiv, Ukraine",PSG.LGD,EG

In [162]:
#Missing Data by Percent
for col in df.columns:
    pct_missing = np.mean(df[col].isnull())
    print('{} - {}%'.format(col, round(pct_missing*100)))

Unnamed: 0 - 0%
Tournament_Name - 0%
Date - 0%
Total_Prize - 0%
Num_Participants - 0%
Location - 0%
First_Place - 0%
Second_Place - 2%

In [163]:
# Changing the Num_Participants column data and name for consistency
df1.rename({'Num_Participants':'Teams'}, axis='columns', inplace = True)
#Removed "teams" & "$" from column
df1['Teams'] = df1['Teams'].str.replace('teams', '').replace(' ','')
df1['Total_Prize'] = df1['Total_Prize'].str.replace('$', '').replace(',','')
df1['Teams'] = df1['Teams'].str.replace(' ','')
df1['Total_Prize'] = df1['Total_Prize'].str.replace(',','')
df1.head()

C:\Users\pittm\AppData\Local\Temp/ipykernel_9068/982558586.py:5: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df1['Total_Prize'] = df1['Total_Prize'].str.replace('$', '').replace(',','')

,Tournament_Name,Date,Total_Prize,Teams,Location,First_Place,Second_Place
0,The International 2021,"Oct 07 - 17, 2021",40018195,18,"Bucharest, Romania",TSpirit,PSG.LGD
1,OGA Dota PIT Invitational,"Sep 06 - 10, 2021",275000,8,Europe,PSG.LGD,TSpirit
2,ESL One Fall 2021,"Aug 21 - 29, 2021",400000,12,Europe & CIS,Tundra,PSG.LGD
3,ESL One Summer 2021,"Jun 16 - 20, 2021",400000,12,Europe,T1,VP
4,WePlay AniMajor,"Jun 02 - 13, 2021",500000,18,"Kyiv, Ukraine",PSG.LGD,EG

In [168]:
#Changing Data Types
#df1.astype({'Teams': 'int64'}).dtypes
#df1.astype({'Total_Prize': 'int64'}).dtypes
convert_dict = {'Teams': float,
                'Total_Prize': float
               }
df2 = df1.astype(convert_dict, errors="ignore")

In [169]:
df2.head()

,Tournament_Name,Date,Total_Prize,Teams,Location,First_Place,Second_Place
0,The International 2021,"Oct 07 - 17, 2021",40018195.0,18.0,"Bucharest, Romania",TSpirit,PSG.LGD
1,OGA Dota PIT Invitational,"Sep 06 - 10, 2021",275000.0,8.0,Europe,PSG.LGD,TSpirit
2,ESL One Fall 2021,"Aug 21 - 29, 2021",400000.0,12.0,Europe & CIS,Tundra,PSG.LGD
3,ESL One Summer 2021,"Jun 16 - 20, 2021",400000.0,12.0,Europe,T1,VP
4,WePlay AniMajor,"Jun 02 - 13, 2021",500000.0,18.0,"Kyiv, Ukraine",PSG.LGD,EG

In [170]:
df2.dtypes

Tournament_Name     object
Date                object
Total_Prize        float64
Teams              float64
Location            object
First_Place         object
Second_Place        object
dtype: object

## Estimates of Location

In [171]:
# Mean of Teams
df2['Teams'].mean()

11.843537414965986